pokemon-card {
   &::part(container) {
      height: 100%;
      width: 100%;
      position: relative;
      background: var(--bg-secondary);
      border-radius: 0.5rem;
      border: 2px solid var(--border-primary);
      box-shadow: 0 0 1px 1px var(--border-primary);
      display: flex;
      justify-content: space-around;
   }

   &::part(img) {
      width: 30%;
      object-fit: contain;
   }

   &::part(col) {
      margin-top: 2rem;
      padding: 0 0 0 0.5rem;
      max-width: 33.33%;
   }

   &::part(row) {
      list-style: none;
      padding: 0.5rem 0;
   }

   &::part(row-title) {
      font-weight: 700;
      font-size: 1.1rem;
      color: var(--txt-primary);
   }

   &::part(row-stat) {
      font-weight: 600;
      font-size: 1rem;
      color: black;
   }

   &::part(row-info) {
      color: var(--bg-primary);
      font-weight: 700;
      font-size: 1.1rem;
      text-decoration: none;
      background: var(--bg-btn);
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
      transition: all 0.25s ease-in-out;

      &:hover, &:active {
         background: var(--txt-primary);
      }
   }

   &::part(row-info-svg) {
      height: 1rem;
      transform: translate(25%, 20%);
   }
}